.CompanyCard {
  margin: 15px 0;
  overflow: hidden;
  height: 600px;
}

@media (min-width: 768px) {
  .CompanyCard {
    flex-direction: row;
    height: 220px;
  }
}

@media (min-width: 1024px) {
  .CompanyCard {
    height: 300px;
  }
}

.CompanyCardImage {
  width: 100%;
}

@media (min-width: 768px) {
  .CompanyCardImage {
    width: 30%;
  }
}

.CompanyCardBody {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

@media (min-width: 768px) {
  .CompanyCardBody {
    width: 0%;
    margin-left: 15px;
  }
}

.CompanyCardBodyHeader {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.CompanyCardTitle {
  font-size: xx-large;
  display: flex;
  justify-content: space-between;
}

.CompanyCardTitleLink {
  color: inherit;
}

.CompanyCardTitleLink:hover {
  text-decoration: none;
}

.CompanyCardActions {
  margin-top: 10px;
  text-align: right;
}
